//Default Colors

$purple: #5f22a8;
$orange: #ff4600;

//Variables Color

$red: #ff0000;
$rose: #feeaee;
$gold: #c89500;
$cornsilk: #fff3e7;
$green: #21a872;
$green-light: #e5f7e7;
$blue: #007bff;
$blue-light: #f1f8ff;

//Alerts

$success: $green;
$error: $red;
$warn: $gold;

//Font-family
$font-primary: 'Rubik', sans-serif;
$font-secondary: 'Source Sans Pro', sans-serif;
