.Grid {
  padding: 0;
  max-height: calc(100vh - 100px);
}

.Card1 {
  height: calc(100vh - 100px);
}

.Card2 {
  height: 100px;
  margin-left: 10px;
  background-color: '#6022a9';
}

.Image {
  text-align: center;
}
