.Grid {
  padding: 0;
  max-height: calc(100vh - 164px);
}

.Card1 {
  height: calc(100vh - 164px);
}

.Card2 {
  height: 100px;
  margin-left: 10px;
  background-color: '#6022a9';
}

.Image {
  text-align: center;
}

.open_pdv {
  width: 100%;
  height: calc(100vh - 164px);
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-flow: column wrap;
  align-items: center;
}
