.header {
  &_item {
    background-color: #551e95 !important;
    color: #fff !important;
    margin-left: 10px !important;
    padding: 6px 20px !important;
    &:disabled {
      opacity: 0.5;
    }
  }
}
