.loading {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 99999;
  background-color: rgba(255, 255, 255, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(4px);
}
