.GrupoButton {
    margin-left: 80px
  };
  table {
    min-width: 650px,
  }
  .Card3 {
    width: 'auto';
    height: 60px;
    background-color: '#fff';
    border-left-color: '#fff';
    border-right-color: '#fff';
  }